<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <title>
            Lives Pool - {% block page_title %}{% end %}
        </title>

        <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{ static_url("base.css") }}" />

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ static_url("logout.js") }}"></script>

        {% block scripts %}{% end %}
    </head>
    <body>
        <div class="navbar navbar-blue navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle navbar-toggle-blue" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="navbar-brand">Lives Pool</a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">About</a></li>
                        <li><a href="/room/join">Join Room</a></li>
                        <li><a href="/room/create">Create Room</a></li>
                        <li id="afterLogoutItem"><a href="#">FAQ</a></li>
                    </ul>
                </div>

            </div>
        </div>

        <div>
            <div class="row">
                <div class="col-xs-12 nopadding">
                    <h1>
                        {% block banner_title %}{% end %}
                    </h1>
                </div>
            </div>
            <div class="contain-300px">
                <div class="row">
                    <div class="col-xs-12">
                        {% block body %}{% end %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
