{% extends "base.html" %}

{% block page_title %}Game In Play{% end %}
{% block banner_title %}GAME IN PLAY{% end %}


{% block scripts %}
<script type="text/javascript" src="{{ static_url("game.js") }}"></script>
<script type="text/javascript" src="{{ static_url("json_utils.js") }}"></script>
<script type="text/javascript" src="{{ static_url("debounce.js") }}"></script>
{% end %}

{% block body %}
<div id="game_container">
      <div class="ball-row-1">
          <figure id="ball-one" class="ball">
              <span id="b1" class="inner-circle"></span>
          </figure>

      </div>
      <div class="ball-row-2">
          <figure id="ball-two" class="ball">
              <span id="b2" class="inner-circle"></span>
          </figure>
          <figure id="ball-three" class="ball">
              <span id="b3" class="inner-circle"></span>
          </figure>

      </div>
      <div class="ball-row-3">
           <figure id="ball-four" class="ball">
              <span id="b4" class="inner-circle"></span>
          </figure>
          <figure id="ball-five" class="ball">
              <span id="b5" class="inner-circle"></span>
          </figure>
          <figure id="ball-six" class="ball">
              <span id="b6" class="inner-circle"></span>
          </figure>

      </div>
      <div class="ball-row-4">
          <figure id="ball-seven" class="ball">
              <span id="b7" class="inner-circle"></span>
          </figure>
          <figure id="ball-eight" class="ball">
              <span id="b8" class="inner-circle"></span>
          </figure>
          <figure id="ball-nine" class="ball">
              <span id="b9" class="inner-circle"></span>
          </figure>
          <figure id="ball-ten" class="ball">
              <span id="b10" class="inner-circle"></span>
          </figure>
      </div>
      <div class="ball-row-5">
          <figure id="ball-eleven" class="ball">
              <span id="b11" class="inner-circle"></span>
          </figure>
          <figure id="ball-twelve" class="ball">
              <span id="b12" class="inner-circle"></span>
          </figure>
          <figure id="ball-thirteen" class="ball">
              <span id="b13" class="inner-circle"></span>
          </figure>
          <figure id="ball-fourteen" class="ball">
              <span id="b14" class="inner-circle"></span>
          </figure>
          <figure id="ball-fifteen" class="ball">
              <span id="b15" class="inner-circle"></span>
          </figure>
      </div>

    <br />
    <div class="row">
        <div id="game_list" class="col-sm-6"></div>
        <div class="col-sm-6">
            <br />
            <button id="leavegamebutton" type="button" class="btn btn-danger btn-block">Leave</button>
        </div>
    </div>
</div>
{% end %}
