{% extends "base.html" %}

{% block page_title %}{{ room_name }}{% end %}
{% block banner_title %}{{ room_name.upper() }}{% end %}

{% block scripts %}
<script type="text/javascript" src="{{ static_url("roomlobby.js") }}"></script>
<script type="text/javascript" src="{{ static_url("json_utils.js") }}"></script>
{% end %}

{% block body %}
<div id="lobby_container"></div>
<div style="max-width: 200px; margin: auto">
    <br />
    <form id="numBallsForm" role="form">
        <div class="form-group">
            <label id="ballsPerPlayerLabel" for="inputNumBalls">Balls per player:</label>
            <div class="form-group">
                <input id="inputNumBalls" name="nbpp" class="form-control form-spacing numBalls" type="number" required="" max="5" min="1" />
            </div>
        </div>
        <div class="contain-buttons">
            <button id="startgamebutton" type="submit" class="btn btn-info btn-block">Start</button>
            <button id="leaveroombutton" type="button" class="btn btn-danger btn-block">Leave</button>
        </div>
    </form>
</div>
{% end %}
