{% extends "base.html" %}

{% block page_title %}Sign In{% end %}
{% block banner_title %}LIVES POOL{% end %}

{% block scripts %}
<script type="text/javascript" src="{{ static_url("json_utils.js") }}"></script>
<script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha512.js"></script>
<script type="text/javascript" src="{{ static_url("signin.js") }}"></script>
{% end %}

{% block body %}
<h4 style="font-style: italic; text-align: center;">An elimination game of billiards.</h4>
<form id="signinForm" class="form-signin">
    <input type="text" name="username" class="form-control form-spacing" placeholder="Username" required="" autofocus="" />
    <input type="password" name="password" class="form-control form-spacing" placeholder="Password" required="" />
    <br />
    <div class="contain-buttons">
        <button id="signupButton" class="btn btn-default btn-primary btn-block" type="submit">Sign Up</button>
        <button id="signinButton" class="btn btn-default btn-success btn-block" type="submit">Sign In</button>
    </div>
</form>
{% end %}
