body {
    padding: 70px;
    background-color: #f5f5f5;
}

h1 {
    color: black;
    text-align: center;
    font-weight: 800;
}

.contain-300px {
	max-width: 300px;
	margin: auto;
}

.form-spacing {
	margin-top: 5px;
	margin-bottom: 5px;
}

.navbar-blue {
  background-color: #428bca;
  border-color: #357ebd;
}
.navbar-blue .navbar-brand {
  color: #fff;
}
.navbar-blue .navbar-brand:hover,
.navbar-blue .navbar-brand:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-blue .navbar-text {
  color: #fff;
}
.navbar-blue .navbar-nav > li > a {
  color: #fff;
}
.navbar-blue .navbar-nav > li > a:hover,
.navbar-blue .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-blue .navbar-nav > .active > a,
.navbar-blue .navbar-nav > .active > a:hover,
.navbar-blue .navbar-nav > .active > a:focus {
  color: #ccc;
  background-color: #428bca;
}
.navbar-blue .navbar-nav > .disabled > a,
.navbar-blue .navbar-nav > .disabled > a:hover,
.navbar-blue .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-blue .navbar-toggle {
  border-color: #ddd;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #3276b1;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #357ebd;
}
.navbar-blue .navbar-nav > .open > a,
.navbar-blue .navbar-nav > .open > a:hover,
.navbar-blue .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #3276b1;
}
@media (max-width: 767px) {
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ccc;
    background-color: transparent;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #3276b1;
  }
  .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-blue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-blue .navbar-link {
  color: #ccc;
}
.navbar-blue .navbar-link:hover {
  color: #ccc;
}

.numBalls {
  width: 50px;
}

ul#playerlist {
  text-align: center;
  margin: auto;
}

li.owner {
  font-weight: 800;
}

label#ballsPerPlayerLabel {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 10px;
  padding-bottom: 3px;
}

input#inputNumBalls {
  margin: 0 auto;
}

.contain-buttons {
  max-width: 150px; 
  margin: auto;
}

#game_container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}

#game_row {
  padding: 2px 0px;
}

.poolball {
    width: 36px;
    height: 36px;
    padding-top: 5px;

    background-color: #FF9C5B;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    
    border-radius: 50%;

    background: #fff;
    border: 3px solid #000;
    color: #fff;

    font: 18px Arial, sans-serif;
    font-weight: 800;
    margin: 0 auto;
}

.blue {
    background-color: blue;    
}

.yellow {
    background-color: yellow;   
    color: #000;
}

.green {
    background-color: green;    
}

.red {
    background-color: red;    
}

.orange {
    background-color: #FFA125;    
}

.purple {
    background-color: #8A15CE;    
}

.maroon {
    background-color: maroon;    
}

.black {
    background-color: black;    
}

.myBall {
  border: 3px solid #f5f5f5;
}
